{
  "extends": "eslint:recommended",
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "node": true
  },
  "rules": {
    "no-unused-vars": "off"
  }
}
